* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: "YourFontName", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #141414;
    overflow-x: hidden;
    overflow: hidden;
    width: 1205px;
    height: 760px;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.7) 10%,
            rgba(0, 0, 0, 0));
}

nav .left {
    display: flex;
    margin-left: 2em;
}

#logo-image img{
    width: 400px;
}

nav .right {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.home-btn {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    width: 55px;
    height: 55px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.home-btn:hover {
    background-color: #d43f3f;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.home-btn:active {
    background-color: #c43939;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #141414;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #ffffff;
}

::-webkit-scrollbar-track:horizontal {
    background-color: #141414;
}

.header-container {
    display: flex;
    align-items: flex-start;
    margin-top: 50px;
    margin-left: 30px;
    width: 100%;
    height: auto;
}

.floor-selection {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.floor-selection button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 360px;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 20px;
    padding: 15px 30px;
    margin: 0 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.floor-selection button.active {
    background-color: red;
    color: #ffffff;
}

.floor-label {
    font-weight: bold;
    font-size: 28px;
}

.floor-details {
    font-size: 18px;
    margin-top: 5px;
}

/* 메뉴 바 스타일 */
.menu-bar {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    width: 100%;
    max-width: 800px;
    position: sticky;
    top: 0;
    left: 0;
}

.menu-bar button {
    background-color: #141414;
    color: white;
    font-size: 15px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.menu-bar button.active {
    background-color: red;
    color: #ffffff;
}


.header-content {
    display: flex;
    flex-direction: column;
    /* 세로 배치 */
}

#topbar {
    margin-left: 20px;
    width: 100%;
    max-width: 900px;
}

#store-area {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 30px;
    margin-top: 20px;
    max-width: 750px;
    max-height: 450px;
    overflow-y: auto;
}

.store-button {
    background-color: #ffffff;
    color: rgb(50, 50, 50);
    font-size: 15px;
    padding: 10px 18px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    flex: 0 0 calc(25% - 10px);
    text-align: center;
}

.store-button:hover {
    background-color: #8e8e8e;
}

.img-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 40px;
    border-radius: 5px;
}

.modal-content img {
    max-width: 880px;
    max-height: 600px;
    margin-top: 20px;
}


.modal-buttons {
    position: absolute;
    bottom: 70px;
    right: 80px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.start-guide-btn {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 24px;
}

.start-guide-btn:hover {
    background-color: #e53935;
}

.cancel-btn {
    background-color: #868686;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 24px;
}

.cancel-btn:hover {
    background-color: #5a5a5a;
}

.movemodal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 100%; 
    background-color: white; 
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.move-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#move-modal-image {
    width: 1255px; 
    height: 750px;
}
