* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
    user-select: none;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: #141414;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 2em;
    background: linear-gradient(to bottom,
            rgba(0, 0, 0, 0.7) 10%,
            rgba(0, 0, 0, 0));
}

nav .left {
    display: flex;
    margin-left: 2em;
}

#logo-image img {
    width: 400px;
}

nav .right {
    display: flex;
    align-items: center;
    margin-right: 30px;
}

.home-btn {
    background-color: #ff0000;
    border: none;
    color: white;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    width: 55px;
    height: 55px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease;
}

.home-btn:hover {
    background-color: #d43f3f;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.home-btn:active {
    background-color: #c43939;
}

main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}


::-webkit-scrollbar {
    width: 12px;
}

::-webkit-scrollbar-thumb {
    background-color: #ffffff;
    border-radius: 10px;
}

::-webkit-scrollbar-track {
    background-color: #141414;
}

::-webkit-scrollbar-thumb:horizontal {
    background-color: #ffffff;
}

::-webkit-scrollbar-track:horizontal {
    background-color: #141414;
}

main .title_st {
    width: 100%;
    float: left;
    font-size: 35px;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 2rem;
    padding-top: 30px;
    padding-bottom: 20px;
    display: flex;
    align-items: center;
}

main .container h1.title_st span {
    color: #eeff06;
    font-size: 35px;
    margin-left: 10px;
}

label {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    margin: 10px;
    border: 3px solid #4caf50;
    border-radius: 50%;
    background-color: #ffffff;
    color: #4caf50;
    font-size: 40px;
    text-align: center;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.map-button {
    margin-left: auto;
    background-color: #fcfcfc;
    border: none;
    color: black;
    padding: 10px 20px;
    width: 240px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    font-family: 'GmarketSansMedium', sans-serif;
    margin: 10px auto;
    cursor: pointer;
    border-radius: 8px;
}

.map-button i {
    margin-right: 10px;
}


.img-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.store-modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
}

.button-container {
    gap: 10px;
    justify-content: center;
    display: flex;
}

.button-container button {
    max-width: 80px;
    width: 80px;
    height: 80px;
    padding: 0;
    border: none;
    background-color: #ffffff;
    color: #000000;
    cursor: pointer;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.button-container button.active {
    background-color: #ff0000;
    color: #fff;
}


.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.modal-content img {
    max-width: 1080px;
    max-height: 600px;
    margin-top: 20px;
}

.store-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 5px;
}

.store-modal-content img {
    max-width: 879px;
    max-height: 600px;
    margin-top: 20px;
}

.modal-buttons {
    position: absolute;
    bottom: 70px;
    right: 80px;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.start-guide-btn {
    background-color: #f44336;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 24px;
}

.start-guide-btn:hover {
    background-color: #e53935;
}

.cancel-btn {
    background-color: #868686;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 24px;
}

.cancel-btn:hover {
    background-color: #5a5a5a;
}

.movemodal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    width: 100%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.move-modal-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

#move-modal-image {
    width: 1205px;
    height: 750px;
}

.close-btn {
    position: absolute;
    top: -10px;
    right: 10px;
    cursor: pointer;
    font-size: 50px;
    color: black;
}


/*------------------*/
.m-container {
    width: 100%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 80px;
}

.m-container div {
    margin-bottom: 50px;
}

.answer {
    margin-top: 30px;
    text-align: center;
    font-size: 3.5vw;
}

.query {
    font-size: 2.0vw;
    opacity: 0.5;
}


.mic-button,
.mic-button-loader,
.waveContainer {
    position: fixed;
    z-index: 9999;
}

.mic-button {
    position: relative;
    flex: 1;
    height: 230px;
    width: 230px;
    text-align: center;
    line-height: 230px;
    font-size: 100px;
    background: #333333;
    border-radius: 100%;
    color: #777;
    cursor: pointer;
    transition: all 200ms ease-in-out;
    z-index: 2;
}

.mic-button:hover {
    transform: scale(1.1);
    color: white;
}

.mic-button:active {
    transform: scale(0.8);
    color: #555;
}


.m-active {
    color: rgb(250, 248, 248);
    transition: color 0.5s ease;
}

.mic-button-loader {
    position: absolute;
    height: 230px;
    width: 230px;
    background-color: transparent;
    transform: rotateY(180deg);
    top: 0;
    left: 0;
    z-index: 2;
}

.mic-button-loader.active {
    border-top: 5px solid #AA1111;
    border-radius: 100%;
    animation: borderLoader 1.3s 0.2s ease-in-out infinite;
}



@keyframes rainbowBorder {
    0% {
        border-top-color: red;
    }

    16.666% {
        border-top-color: orange;
    }

    33.333% {
        border-top-color: yellow;
    }

    50% {
        border-top-color: green;
    }

    66.666% {
        border-top-color: blue;
    }

    83.333% {
        border-top-color: indigo;
    }

    100% {
        border-top-color: violet;
    }

    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(359deg);
    }
}

.mic-button-loader.active {
    position: absolute;
    height: 230px;
    width: 230px;
    background-color: transparent;
    transform: rotateY(180deg);
    top: 0;
    left: 0;
    border-top: 5px solid red;
    border-radius: 100%;
    animation: rainbowBorder 2s 0.2s ease-in-out infinite;
}


/*-------------------------------------*/

.waveContainer {
    position: absolute;
    left: 0;
    right: 0;
    top: 55%;
    transform: translate3d(0, -50%, 0);
    -webkit-transform: translate3d(0, -50%, 0);
    -moz-transform: translate3d(0, -50%, 0);
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    height: 80px;
    --boxSize: 10px;
    --gutter: 10px;
    width: calc((var(--boxSize) + var(--gutter)) * 15);
    align-items: center;
    z-index: 2;
}


.wave {
    -webkit-transform: scaleY(1);
    transform: scaleY(1);
    height: 50%;
    width: var(--boxSize);
    -webkit-animation-duration: .8s;
    animation-duration: .8s;
    -webkit-animation-timing-function: ease-in-out;
    animation-timing-function: ease-in-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
    border-radius: 80px;
}

.wave1 {
    -webkit-animation-name: random1;
    animation-name: random1;
    background: #ffffff;
}

.wave2 {
    -webkit-animation-name: random2;
    animation-name: random2;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    background: #ffffff;
}

.wave3 {
    -webkit-animation-name: random3;
    animation-name: random3;
    -webkit-animation-delay: .3s;
    animation-delay: .3s;
    background: #ffffff;
}

.wave4 {
    -webkit-animation-name: random4;
    animation-name: random4;
    -webkit-animation-delay: .4s;
    animation-delay: .4s;
    background: #ffffff;
}

.wave5 {
    -webkit-animation-name: random5;
    animation-name: random5;
    -webkit-animation-delay: .2s;
    animation-delay: .2s;
    background: #ffffff;
}

.wave6 {
    -webkit-animation-name: random6;
    animation-name: random6;
    -webkit-animation-delay: .5s;
    animation-delay: .5s;
    background: #ffffff;
}

.wave7 {
    -webkit-animation-name: random7;
    animation-name: random7;
    -webkit-animation-delay: .6s;
    animation-delay: .6s;
    background: #ffffff;
}

.wave8 {
    -webkit-animation-name: random8;
    animation-name: random8;
    -webkit-animation-delay: .7s;
    animation-delay: .7s;
    background: #ffffff;
}

.wave9 {
    -webkit-animation-name: random9;
    animation-name: random9;
    -webkit-animation-delay: .8s;
    animation-delay: .8s;
    background: #ffffff;
}

.wave10 {
    -webkit-animation-name: random10;
    animation-name: random10;
    -webkit-animation-delay: .9s;
    animation-delay: .9s;
    background: #ffffff;
}

@-webkit-keyframes random1 {
    0% {
        height: 25%;
    }

    50% {
        height: 100%;
    }

    100% {
        height: 25%;
    }
}

@keyframes random1 {
    0% {
        height: 25%;
    }

    50% {
        height: 100%;
    }

    100% {
        height: 25%;
    }
}

@-webkit-keyframes random2 {
    0% {
        height: 22%;
    }

    50% {
        height: 65%;
    }

    100% {
        height: 22%;
    }
}

@keyframes random2 {
    0% {
        height: 22%;
    }

    50% {
        height: 65%;
    }

    100% {
        height: 22%;
    }
}

@-webkit-keyframes random3 {
    0% {
        height: 65%;
    }

    50% {
        height: 20%;
    }

    100% {
        height: 65%;
    }
}

@keyframes random3 {
    0% {
        height: 65%;
    }

    50% {
        height: 20%;
    }

    100% {
        height: 65%;
    }
}

@-webkit-keyframes random4 {
    0% {
        height: 20%;
    }

    50% {
        height: 80%;
    }

    100% {
        height: 20%;
    }
}

@keyframes random4 {
    0% {
        height: 20%;
    }

    50% {
        height: 80%;
    }

    100% {
        height: 20%;
    }
}

@-webkit-keyframes random5 {
    0% {
        height: 100%;
    }

    50% {
        height: 35%;
    }

    100% {
        height: 100%;
    }
}

@keyframes random5 {
    0% {
        height: 100%;
    }

    50% {
        height: 35%;
    }

    100% {
        height: 100%;
    }
}

@-webkit-keyframes random6 {
    0% {
        height: 25%;
    }

    50% {
        height: 100%;
    }

    100% {
        height: 25%;
    }
}

@keyframes random6 {
    0% {
        height: 25%;
    }

    50% {
        height: 100%;
    }

    100% {
        height: 25%;
    }
}

@-webkit-keyframes random7 {
    0% {
        height: 22%;
    }

    50% {
        height: 65%;
    }

    100% {
        height: 22%;
    }
}

@keyframes random7 {
    0% {
        height: 22%;
    }

    50% {
        height: 65%;
    }

    100% {
        height: 22%;
    }
}

@-webkit-keyframes random8 {
    0% {
        height: 65%;
    }

    50% {
        height: 20%;
    }

    100% {
        height: 65%;
    }
}

@keyframes random8 {
    0% {
        height: 65%;
    }

    50% {
        height: 20%;
    }

    100% {
        height: 65%;
    }
}

@-webkit-keyframes random9 {
    0% {
        height: 20%;
    }

    50% {
        height: 80%;
    }

    100% {
        height: 20%;
    }
}

@keyframes random9 {
    0% {
        height: 20%;
    }

    50% {
        height: 80%;
    }

    100% {
        height: 20%;
    }
}

@-webkit-keyframes random10 {
    0% {
        height: 100%;
    }

    50% {
        height: 35%;
    }

    100% {
        height: 100%;
    }
}

@keyframes random10 {
    0% {
        height: 100%;
    }

    50% {
        height: 35%;
    }

    100% {
        height: 100%;
    }
}
