<!DOCTYPE html>
<html lang="kr">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
    />
    <title>롯데아울렛 광주월드컵점</title>
    <link rel="icon" href="static/img/favicon.ico" />
    <link
      rel="stylesheet"
      href="https://unpkg.com/swiper@8/swiper-bundle.min.css"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <link rel="stylesheet" href="static/css/lotte2.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/annyang/2.6.1/annyang.min.js"></script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/3.1.9-1/crypto-js.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/PapaParse/5.3.0/papaparse.min.js"></script>


  </head>

  <body>
    <nav>
      <div class="left">
        <div class="logo" id="logo-image">
          <img src="/static/img/lottelogo.png" alt="" /></a>
        </div>
      </div>
      <div class="right">
        <button class="home-btn" id="home-btn">
            <i class="fas fa-home"></i>
        </button>
      </div>
    </nav>
    <main>
      <div class="m-container">
        <div class="mic-button">
          <div class="mic-button-loader"></div>
          <i class="fas fa-microphone"></i>
        </div>

        <div class="waveContainer">
          <div class="wave wave1"></div>
          <div class="wave wave2"></div>
          <div class="wave wave3"></div>
          <div class="wave wave4"></div>
          <div class="wave wave5"></div>
          <div class="wave wave6"></div>
          <div class="wave wave7"></div>
          <div class="wave wave8"></div>
          <div class="wave wave9"></div>
          <div class="wave wave10"></div>
        </div>

        <div class="answer">음성인식으로 매장 안내를 도와드립니다.</div>
        <div class="query">
          예시 : 나이키, 뉴발란스, 미샤 (매장명을 말씀해주세요.)
        </div>
      </div>

      <button class="map-button">
        <i class="fas fa-map" style="color: black"></i>아울렛 매장 지도
      </button>

      <div class="img-modal">
        <div class="modal-content">
          <span class="close-btn">&times;</span>
          <div class="button-container"></div>
            <img src="" id="modal-image" />
        </div>
      </div>

      <div class="store-modal" style="display: none;">
        <div class="store-modal-content">
          <div class="button-container"></div>
            <img src="" id="store-modal-image" />
            <div class="modal-buttons">
                <button class="start-guide-btn">안내시작</button>
                <button class="cancel-btn">닫기</button>
              </div>
        </div>
      </div>

      <div class="movemodal" style="display: none;">
            <div class="move-modal-content">
                <img id="move-modal-image" src="" alt="Move Modal Image" />
            </div>
        </div>

    </main>

    <script src="static/js/lotte2.js"></script>
  </body>
</html>
